
[ -z "$BASH_VERSION" ] && return

export ATLASSIAN_SCRIPTS="<%= @target %>/atlassian-scripts"
. $ATLASSIAN_SCRIPTS/sourceme.sh

chmod go-rwx $ATLASSIAN_SCRIPTS/ssh-keys/* &> /dev/null
$ATLASSIAN_SCRIPTS/bin/keychain $HOME/.ssh/id_dsa &> /dev/null
. ~/.keychain/`uname -n`-sh
